# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = matt s
	email = matts@matts.io

[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
